.input-wrapper {
  width: 100%;
  margin: 1rem 0rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  background-color: white;
  display: flex;
  align-items: center;
  max-width: 300px;
  border: currentColor 1px solid;
}
.input-wrapper:focus {
  border: #ddd 1px solid;
}

input {
  background-color: transparent;
  border: none;
  height: 40px;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
}

input:focus {
  outline: none;
}

#search-icon {
  color: royalblue;
}
